{
    "env": {
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "extends": "airbnb-base",
    "rules": {
        "comma-dangle": ["error", "always-multiline"],
        "eol-last": ["error", "never"],
        "import/extensions": 0,
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "max-len": ["error", {
            "code": 120,
            "ignoreComments": true,
            "ignoreRegExpLiterals": true
        }],
        "no-use-before-define": ["error", {
            "functions": false
        }],
        "no-param-reassign": ["error", { "props": false }],
        "object-curly-newline": ["error", {
            "ObjectExpression": { "minProperties": 5, "multiline": true, "consistent": true },
            "ObjectPattern": { "minProperties": 5, "multiline": true, "consistent": true },
            "ImportDeclaration": { "minProperties": 5, "multiline": true, "consistent": true },
            "ExportDeclaration": { "minProperties": 5, "multiline": true, "consistent": true }
        }]
    }
}