{
    "env": {
        "browser": true
    },
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "comma-dangle": ["error", "never"],
        "max-len": ["error", {
            "code": 120,
            "ignoreComments": true,
            "ignoreRegExpLiterals": true
        }],
        "no-use-before-define": ["error", {
            "functions": false
        }],
        "eol-last": ["error", "never"],
        "no-param-reassign": ["error", { "props": false }],
        "import/extensions": false
    }
}