fieldset#dims
    legend Dimensions
    label
        span Width
        input(type="number" min=1 value=320 name="width" required)
    label
        span Height
        input(type="number" min=1 value=180 name="height" required)