fieldset#download
    legend Download
    label
        span SVG
        input(type="radio" name="file-format" value="svg" checked)
    label
        span PNG
        input(type="radio" name="file-format" value="png")
    button#download-btn Download
    button#get-markup(title="...copied to clipboard") Get Markup
    button#get-data-uri(title="...copied to clipboard") Get Data URI