fieldset#preserve-aspect-ratio
    legend Preserve Aspect Ratio
    label Alignment Values
        select#ratio(name="ratio")
            option xMidYMid
            option xMinYMin
            option xMaxYMax
            option xMidYMax
            option xMidYMin
            option xMinYMid
            option xMinYMax
            option xMaxYMid
            option xMaxYMin
            option none
    label Meet Or Slice Reference
        select#slice-or-meet(name="slice-or-meet")
            option meet
            option slice