fieldset#viewbox
    legend ViewBox
    label
        span min-x
        input(type="number" name="vb-min-x" required)
    label
        span min-y
        input(type="number" name="vb-min-y" required)
    label
        span width
        input(type="number" name="vb-width" required)
    label
        span height
        input(type="number" name="vb-height" required)
    button#center-vb Set to bBox