body {
  font-family: Helvetica, Arial, sans-serif;
  background: #282828;
  color: #96968c;
  margin: 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden; }
  body *,
  body *::before,
  body *::after {
    box-sizing: inherit; }

#dims,
#modes {
  display: inline; }

#main {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: "layers canvas" "config canvas"; }

#layer-management {
  grid-area: layers;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between; }
  #layer-management #layer-select label {
    display: flex;
    justify-content: space-between; }
  #layer-management #layer-select,
  #layer-management #add,
  #layer-management #layer-controls {
    display: inline-flex;
    flex-direction: column; }

#mode-config {
  display: flex;
  margin-left: 4px; }

#output {
  display: flex;
  width: max-content; }

#dims label,
#modes label,
#a-cmd-config label,
#output label {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle; }
  #dims label span,
  #modes label span,
  #a-cmd-config label span,
  #output label span {
    margin-right: 4px; }

#commands {
  align-self: center; }

#canvas {
  grid-area: canvas;
  margin-right: 8px; }

#outer-container {
  background: lightgrey;
  min-width: 720px;
  min-height: 405px;
  border: 2px solid white;
  outline: 3px solid grey;
  margin: 8px 0 0 8px;
  stroke-width: 2;
  stroke: black;
  display: block; }

.control-point {
  fill: orange;
  stroke: dimgrey; }
  .control-point:hover {
    stroke-width: 10; }
  .control-point:last-of-type {
    fill: red; }

#coords {
  position: absolute;
  left: -100px;
  top: -100px;
  padding: 3px;
  border: 1px solid black;
  width: max-content;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  text-align: center;
  pointer-events: none; }

#config {
  grid-area: config;
  display: inline-flex;
  flex-direction: column;
  margin-right: 2px; }

#fill-and-stroke label,
#transformations label,
#transforms label {
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

select {
  width: max-content; }

input[type=number] {
  width: 5em;
  text-align: center; }

input:checked {
  box-shadow: 0 0 0 2px orange; }

fieldset.togglable {
  margin: 0.4rem 0 0.8rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s; }
  fieldset.togglable.open {
    max-height: 100rem; }
  fieldset.togglable.closed {
    max-height: 1rem;
    padding-bottom: 0; }
