form#active-layer-config
    fieldset.collapsable
        legend Active Layer
        #no-layer-msg2 Nothing to see here
        fieldset#ellipse-config.for-ellipse
            label
                span CX
                input(type="number" name="cx" step=1)
            label
                span CY
                input(type="number" name="cy" step=1)
            label
                span RX
                input(type="number" name="rx" min=1 step=1)
            label
                span RY
                input(type="number" name="ry" min=1 step=1)
        fieldset#rect-config.for-rect
            label
                span X
                input(type="number" name="x" step=1)
            label
                span Y
                input(type="number" name="y" step=1)
            label
                span Width
                input(type="number" name="width" min=1 step=1)
            label
                span Height
                input(type="number" name="height" min=1 step=1)
            label
                span Rx
                input(type="number" name="rx" min=0 step=1)
            label
                span Ry
                input(type="number" name="ry" min=0 step=1)
        #path-config.for-path
            #path-config__misc
                label Command
                    select#commands
                        option(value="M" selected) Move to (M)
                        option(value="L") Line to (L)
                        option(value="H") Horizontal line to (H)
                        option(value="V") Vertical line to (V)
                        option(value="Q") Quadratic curve to (Q)
                        option(value="S") Smooth curve to (S)
                        option(value="C") Cubic curve to (C)
                        option(value="T") Smooth quadratic curve to (T)
                        option(value="A") Arc to (A)
                    label
                        span Close path
                        input#close-path-toggle(type="checkbox" checked)
            #path-config__cmds