form#arc-cmd-config.for-path
    fieldset.collapsable
        legend A-command
        label
            span X-Radius
            input(type="number" name="xR" min=1 step=1 value=50)
        label
            span Y-Radius
            input(type="number" name="yR" min=1 step=1 value=50)
        label
            span Large Arc Flag
            input(type="checkbox" name="large")
        label
            span Sweep Flag
            input(type="checkbox" name="sweep")
        label
            span X-Rotation
            input(type="range" name="xRot" min=0 max=360 step=1 value=0)