fieldset#layer-management
    legend Layers
    include ./mode-selection.pug
    #no-layer-msg No layer, yet...
    #layer-select
    #layer-controls
        button#add-layer(title="Add Layer")
            svg.icon
                use(href="#add")
        button#duplicate-layer(title="Duplicate the active Layer")
            svg.icon
                use(href="#duplicate")
        button#clear-all(title="Clear the entire Canvas")
            svg.icon
                use(href="#trashcan")