fieldset#layer-management
    legend Layers
    #no-layer-msg No layer, yet...
    #layer-select
    #layer-controls
        button#add-layer Add Layer
        button#duplicate-layer(title="Duplicate the active layer") Duplicate Layer
        button#del-layer(title="Delete the active layer") Delete Layer
        button#del-last-point Delete Last Point
        button#clear-all Clear Canvas