form#modes
    fieldset
        legend Mode
        label(title="Path")
            svg.icon
                use(href="#path")
            input(type="radio" name="modes" value="path" checked)
        label(title="Rect")
            svg.icon
                use(href="#rect")
            input(type="radio" name="modes" value="rect")
        label(title="Ellipse")
            svg.icon
                use(href="#ellipse")
            input(type="radio" name="modes" value="ellipse")