template#a-cmd-config-tmpl
    fieldset
        legend A
        label
            span X
            input(type="number" name="x" step=1)
        label
            span y
            input(type="number" name="y" step=1)
        label
            span X-Rad
            input(type="number" name="xR" min=1 step=1)
        label
            span Y-Rad
            input(type="number" name="yR" min=1 step=1)
        label
            span Large Arc Flag
            input(type="checkbox" name="large")
        label
            span Sweep Flag
            input(type="checkbox" name="sweep")
        label
            span X-Rotation
            input(type="range" name="xRot" min=0 max=360 step=1)

template#h-cmd-config-tmpl
    fieldset
        legend H
        label
            span X
            input(type="number" name="x" step=1)

template#v-cmd-config-tmpl
    fieldset
        legend V
        label
            span Y
            input(type="number" name="y" step=1)

template#t-cmd-config-tmpl
    fieldset
        legend T
        label
            span X
            input(type="number" name="x" step=1)
        label
            span y
            input(type="number" name="y" step=1)

template#c-cmd-config-tmpl
    fieldset
        legend C
        label
            span X
            input(type="number" name="x" step=1)
        label
            span Y
            input(type="number" name="y" step=1)
        label
            span X1
            input(type="number" name="x1" step=1)
        label
            span Y1
            input(type="number" name="y1" step=1)
        label
            span X2
            input(type="number" name="x2" step=1)
        label
            span Y2
            input(type="number" name="y2" step=1)

template#s-cmd-config-tmpl
    fieldset
        legend S
        label
            span X
            input(type="number" name="x" step=1)
        label
            span Y
            input(type="number" name="y" step=1)
        label
            span X1
            input(type="number" name="x1" step=1)
        label
            span Y1
            input(type="number" name="y1" step=1)

template#q-cmd-config-tmpl
    fieldset
        legend Q
        label
            span X
            input(type="number" name="x" step=1)
        label
            span Y
            input(type="number" name="y" step=1)
        label
            span X1
            input(type="number" name="x1" step=1)
        label
            span Y1
            input(type="number" name="y1" step=1)

template#l-cmd-config-tmpl
    fieldset
        legend L
        label
            span X
            input(type="number" name="x" step=1)
        label
            span y
            input(type="number" name="y" step=1)

template#m-cmd-config-tmpl
    fieldset
        legend M
        label
            span X
            input(type="number" name="x" step=1)
        label
            span y
            input(type="number" name="y" step=1)