template#a-cmd-config-tmpl
    fieldset.path-cmd-config
        legend A
        button.path-cmd-config__delete-point-btn(title="Delete this point") x
        label
            span X
            input(type="number" name="x" step=1)
        label
            span y
            input(type="number" name="y" step=1)
        label
            span X-Rad
            input(type="number" name="xR" min=1 step=1)
        label
            span Y-Rad
            input(type="number" name="yR" min=1 step=1)
        label
            span Large Arc Flag
            input(type="checkbox" name="large")
        label
            span Sweep Flag
            input(type="checkbox" name="sweep")
        label
            span X-Rotation
            input(type="range" name="xRot" min=0 max=360 step=1)

template#h-cmd-config-tmpl
    fieldset.path-cmd-config
        legend H
        button.path-cmd-config__delete-point-btn(title="Delete this point") x
        label
            span X
            input(type="number" name="x" step=1)

template#v-cmd-config-tmpl
    fieldset.path-cmd-config
        legend V
        button.path-cmd-config__delete-point-btn(title="Delete this point") x
        label
            span Y
            input(type="number" name="y" step=1)

template#t-cmd-config-tmpl
    fieldset.path-cmd-config
        legend T
        button.path-cmd-config__delete-point-btn(title="Delete this point") x
        label
            span X
            input(type="number" name="x" step=1)
        label
            span y
            input(type="number" name="y" step=1)

template#c-cmd-config-tmpl
    fieldset.path-cmd-config
        legend C
        button.path-cmd-config__delete-point-btn(title="Delete this point") x
        label
            span X
            input(type="number" name="x" step=1)
        label
            span Y
            input(type="number" name="y" step=1)
        label
            span X1
            input(type="number" name="x1" step=1)
        label
            span Y1
            input(type="number" name="y1" step=1)
        label
            span X2
            input(type="number" name="x2" step=1)
        label
            span Y2
            input(type="number" name="y2" step=1)

template#s-cmd-config-tmpl
    fieldset.path-cmd-config
        legend S
        button.path-cmd-config__delete-point-btn(title="Delete this point") x
        label
            span X
            input(type="number" name="x" step=1)
        label
            span Y
            input(type="number" name="y" step=1)
        label
            span X1
            input(type="number" name="x1" step=1)
        label
            span Y1
            input(type="number" name="y1" step=1)

template#q-cmd-config-tmpl
    fieldset.path-cmd-config
        legend Q
        button.path-cmd-config__delete-point-btn(title="Delete this point") x
        label
            span X
            input(type="number" name="x" step=1)
        label
            span Y
            input(type="number" name="y" step=1)
        label
            span X1
            input(type="number" name="x1" step=1)
        label
            span Y1
            input(type="number" name="y1" step=1)

template#l-cmd-config-tmpl
    fieldset.path-cmd-config
        legend L
        button.path-cmd-config__delete-point-btn(title="Delete this point") x
        label
            span X
            input(type="number" name="x" step=1)
        label
            span y
            input(type="number" name="y" step=1)

template#m-cmd-config-tmpl
    fieldset.path-cmd-config
        legend M
        button.path-cmd-config__delete-point-btn(title="Delete this point") x
        label
            span X
            input(type="number" name="x" step=1)
        label
            span y
            input(type="number" name="y" step=1)