svg#defs
    defs
        symbol#drag-handle(viewBox="141 88 175 175")
            g(stroke="none")
                <circle cx="220" cy="120" r="12" transform="translate(-10 3)"/>
                <circle cx="220" cy="120" r="12" transform="translate(-10 56)"/>
                <circle cx="220" cy="120" r="12" transform="translate(-10 108)"/>
                <circle cx="220" cy="120" r="12" transform="translate(30 3)"/>
                <circle cx="220" cy="120" r="12" transform="translate(30 56)"/>
                <circle cx="220" cy="120" r="12" transform="translate(30 108)"/>
        symbol#delete(viewBox="124 90 110 100")
            <path stroke-linecap="round" stroke-width="10" d="m140 100 80 80m-80 0 80-80"/>
        symbol#add(viewBox="133 114 134 131")
            <path stroke-linecap="round" stroke-width="10" d="M140 180h120m-60-60v120"/>
        symbol#arrow(viewBox="131 130 178 80")
            <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="20" d="m140 140 80 80 80-80"/>
        symbol#download-icon(viewBox="115 65 250 250")
            <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="15" d="M140 220v40h200v-40M240 120v110m-50-40 50 40 50-40"/>
        symbol#ellipse(viewBox="195 65 120 255")
            <ellipse fill="none" stroke-width="11" cx="260" cy="195" rx="60" ry="115"/>
            <circle cx="260" cy="195" r="10"/>
            <circle cx="260" cy="80" r="10"/>
            <circle cx="200" cy="195" r="10"/>
        symbol#rect(viewBox="130 87 155 135")
            <path fill="none" stroke-linejoin="round" stroke-width="10" d="M140 100h135v110H140z"/>
            <circle cx="140" cy="100" r="10"/>
            <circle cx="275" cy="210" r="10"/>
        symbol#path(viewBox="128 90 224 130")
            <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="10" d="m140 150 70 60V100l65 60 65-30"/>
            <circle cx="140" cy="150" r="10"/>
            <circle cx="210" cy="210" r="10"/>
            <circle cx="210" cy="100" r="10"/>
            <circle cx="275" cy="160" r="10"/>
            <circle cx="340" cy="130" r="10"/>
        symbol#trashcan(viewBox="128 66 142 236")
            <g fill="none" stroke-linejoin="round" stroke-linecap="round">
                <path stroke-width="11" d="M140 140h120v155H140Z"/>
                <path stroke-width="8.5" d="M170 180v80M230 180v80M200 180v80"/>
                <path stroke-width="11" d="m130 130 140-21-6-18-49-3-6-16-44 8 4 18-39 14Z"/>
            </g>
        symbol#markup(viewBox="175 100 165 86")
            <path fill="none" stroke-linecap="square" stroke-linejoin="arcs" stroke-width="12" d="m220 110-40 30 40 30M262 100l-29 90M295 110l40 30-40 30"/>
        symbol#duplicate(viewBox="140 22 134 195")
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="11">
                <path d="M132 180h60m-30-30v60"/>
                <path d="M140 157V62h108v136h-62"/>
                <path d="M163 49V30h108v136h-10"/>
            </g>