#left-sidebar
    include drawing-tab/left-sidebar/layer-management.pug
    include drawing-tab/left-sidebar/active-layer-config.pug
    include drawing-tab/left-sidebar/transforms-config.pug
    include drawing-tab/left-sidebar/fill-and-stroke-config.pug
#center-content
    #center-top
        include drawing-tab/center-content/project-management.pug
        include drawing-tab/center-content/time-travel.pug
        include drawing-tab/center-content/mode-selection.pug
    include drawing-tab/center-content/svg-canvas.pug