#left-sidebar
    fieldset#layer-management
        legend Layers
        #no-layer-msg No layer, yet...
        #layer-select
        #layer-controls
            button#add-layer(title="Add a layer") +
            button#del-layer(title="Delete the active layer") Delete layer
            button#undo Delete last point
            button#clear-all Clear canvas

    div
        fieldset#transforms.togglable.closed
            legend Transformations
            label
                span Just the layer
                input(type="checkbox" name="transform-layer-only" title="Check this to transform only the active layer")
            form#transformations
                label
                    span Scale
                    input(type="number" min=0 max=100 step=0.1 value=1 name="scale")
                label
                    span Rotate
                    input(type="range" min=-180 max=180 step=0.1 value=0 name="rotate")
                label
                    span SkewX
                    input(type="range" min=0 max=180 step=0.1 value=0 name="skewX")
                label
                    span SkewY
                    input(type="range" min=0 max=180 step=0.1 value=0 name="skewY")
            button#reset-transforms Reset

    form#fill-and-stroke
        fieldset.togglable.closed
            legend Fill &amp; Stroke
            label
                span Stroke-color:
                input(type="color" name="strokeColor")
            label
                span Stroke-opacity:
                input(type="range" min=0 max=1 step=0.1 value=1 name="strokeOpacity")
            label
                span Stroke-width:
                input(type="range" min=0 max=50 step=0.1 value=2 name="strokeWidth")
            label.path-only
                span Stroke-linecap:
                select(name="linecap")
                    option butt
                    option round
                    option square
            label.path-and-rect-only
                span Stroke-linejoin:
                select(name="linejoin")
                    option arcs
                    option bevel
                    option miter
                    option miter-clip
                    option round
            label
                span Fill-color:
                input(type="color" name="fillColor")
            label
                span Fill-opacity:
                input(type="range" min=0 max=1 step=0.1 value=1 name="fillOpacity")
            label.path-only
                span Fill-rule:
                select(name="fillRule")
                    option evenodd
                    option nonzero
            label
                span Fill shape
                input(type="checkbox" name="fill")
            label.path-only
                span Close shape
                input(type="checkbox" name="close" checked)

    form#arc-cmd-config.path-only
        fieldset.togglable.closed
            legend A-command config
            label
                span X-Radius
                input(type="number" name="xR" min=1 step=1 value=50)
            label
                span Y-Radius
                input(type="number" name="yR" min=1 step=1 value=50)
            label
                span Large Arc Flag
                input(type="checkbox" name="large")
            label
                span Sweep Flag
                input(type="checkbox" name="sweep")
            label
                span X-Rotation
                input(type="range" name="xRot" min=0 max=360 step=1 value=0)

#center-content
    #center-top
        fieldset#modes
            legend Modes
            label
                span Path
                input(type="radio" name="modes" value="path" checked)
            label
                span Rectangle
                input(type="radio" name="modes" value="rect")
            label
                span Ellipse
                input(type="radio" name="modes" value="ellipse")
        
        select#commands.path-only
            option(value="M" selected) Move to (M)
            option(value="L") Line to (L)
            option(value="H") Horizontal line to (H)
            option(value="V") Vertical line to (V)
            option(value="Q") Quadratic curve to (Q)
            option(value="C") Cubic curve to (C)
            option(value="A") Arc to (A)
            option(value="S") Smooth curve to (S)
            option(value="T") Smooth quadratic curve to (T)

    svg#canvas
        g#drawing-content
        g#control-point-container

    #coords