header
    #tab-links
        a.tab-link.active(data-linked-tab="drawing") Drawing
        a.tab-link(data-linked-tab="output") Output
    h1#drawing-title Unnamed drawing

#drawing.tab-content.active(data-tab-name="drawing")
    include drawing.pug

#output.tab-content(data-tab-name="output")
    include output.pug

include project-management-overlay.pug
include cmd-config-tmpls.pug