doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="A simple tool to build complex svgs")
        title SVG Builder
        link(rel="stylesheet" href="./css/style.css")
        // build:js
        script(src="/js/index.js" type="module")
        script(src="/js/components/tabs.js" defer)
        script(src="/js/components/collapsable-fieldsets.js" defer)
        script(src="/js/components/coords-display.js" type="module")
        // endbuild

    body
        #tabs
            a.tab(data-tab-name="drawing" href="#drawing") Drawing
            a.tab(data-tab-name="output" href="#output") Output

        #drawing.tab-content(data-tab="drawing")
            include drawing.pug

        #output.tab-content(data-tab="output")
            include output.pug