doctype html
html
    head
        meta(charset="UTF-8")
        title SVG Builder
        link(rel="stylesheet" href="/css/style.css")
        script(src="/js/index.js" type="module" defer)
        script(src="/js/collapsables.js" defer)

    body
        fieldset#output
            legend Output

            fieldset#dims
                legend Dimensions
                label(for="width")
                    span Width
                    input#width(type="number" min=1 value=320)
                label(for="height")
                    span Height
                    input#height(type="number" min=1 value=180)

            fieldset#preserve-aspect-ratio
                legend Preserve Aspect Ratio
                select#ratio
                    option xMidYMid
                    option xMinYMin
                    option xMaxYMax
                    option xMidYMax
                    option xMidYMin
                    option xMinYMid
                    option xMinYMax
                    option xMaxYMid
                    option xMaxYMin
                    option none

                select#slice-or-meet
                    option meet
                    option slice

            button#get-markup(title="...copied to clipboard") Get Markup
            button#preview(title="...in new tab or window") Open Preview

        #main
            fieldset#layer-management
                legend Layers

                #no-layer-msg No layer, yet...
                
                #layer-select
                
                #layer-controls
                    button#add-layer(title="Add a layer") +
                    button#del-layer(title="Delete the active layer") Delete layer
                    button#undo Delete last point
                    button#clear-all Clear canvas

            #canvas
                #mode-config
                    fieldset#modes
                        legend Modes
                        label
                            span Path
                            input(type="radio" name="modes" value="path" checked)
                        label
                            span Rectangle
                            input(type="radio" name="modes" value="rect")
                        label
                            span Ellipse
                            input(type="radio" name="modes" value="ellipse")
                    
                    select#commands
                        option(value="M" selected) Move to (M)
                        option(value="L") Line to (L)
                        option(value="H") Horizontal line to (H)
                        option(value="V") Vertical line to (V)
                        option(value="Q") Quadratic curve to (Q)
                        option(value="C") Cubic curve to (C)
                        option(value="A") Arc (A)

                    fieldset#a-cmd-config
                        legend A command config
                        label
                            span X-Radius
                            input(type="number" name="xR" min=1 step=1 value=50)
                        label
                            span Y-Radius
                            input(type="number" name="yR" min=1 step=1 value=50)
                        label
                            span X-Rotation
                            input(type="range" name="xRot" min=0 may=360 step=1 value=0)
                        label
                            span Large Arc Flag
                            input(type="checkbox" name="large")
                        label
                            span Sweep Flag
                            input(type="checkbox" name="sweep")

                svg#outer-container(width="100%")
                    g#inner-container
                    g#svg-helpers
                        path#overlay(fill="transparent" stroke="orange")

                #coords
            
            #config
                fieldset#fill-and-stroke.closed.togglable
                    legend Fill &amp; Stroke
                    label(for="stroke-color")
                        span Stroke-color:
                        input#stroke-color(type="color" name="strokeColor")
                    label(for="stroke-opacity")
                        span Stroke-opacity:
                        input#stroke-opacity(type="range" min=0 max=1 step=0.1 value=1 title="Opacity" name="strokeOpacity")
                    label(for="stroke-width")
                        span Stroke-width:
                        input#stroke-width(type="range" min=0.1 max=50 step=0.1 value=2 name="strokeWidth")
                    label(for="fill-color")
                        span Fill-color:
                        input#fill-color(type="color" name="fillColor")
                    label(for="fill-opacity")
                        span Fill-opacity:
                        input#fill-opacity(type="range" min=0 max=1 step=0.1 value=1 title="Opacity" name="fillOpacity")
                    label(for="fill-rule")
                        span Fill-rule:
                        select#fill-rule(name="fillRule")
                            option evenodd
                            option nonzero
                    label(for="fill-toggle")
                        span Fill shape
                        input#fill-toggle(type="checkbox" name="fill")
                    label(for="close-toggle")
                        span Close shape
                        input#close-toggle(type="checkbox" name="close" checked)

                fieldset#transformations.closed.togglable
                    legend Transform Layer
                    label(for="scaling-factor")
                        span Scale by factor of
                        input#scaling-factor(type="number" min=0.2 max=4.0 step=0.1 value=1)
                    label(for="deg")
                        span Rotate by (deg)
                        input#deg(type="number" min=-360 max=360 step=0.1 value=0)
                    label(for="reflect")
                        span Reflect shape
                        select#reflect
                            option
                            option Vertically
                            option Horizontally
                    label(for="trim-check")
                        span Trim whitespace
                        input#trim-check(type="checkbox")
                    button#transform Transform

                fieldset#transforms.closed.togglable
                    legend Transform Drawing
                    label
                        span Scale
                        input(type="number" min=1 max=100 step=1 value=1 name="scale")
                    label
                        span Rotate
                        input(type="range" min=-180 max=180 step=0.1 value=0 name="rotate")
                    label
                        span SkewX
                        input(type="range" min=-90 max=90 step=0.1 value=0 name="skewX")
                    label
                        span SkewY
                        input(type="range" min=-90 max=90 step=0.1 value=0 name="skewY")