
form#output-configuration
    include output-tab/left-sidebar/dimension-config.pug
    include output-tab/left-sidebar/viewbox-config.pug
    include output-tab/left-sidebar/preserve-aspect-ratio-config.pug
    include output-tab/left-sidebar/download-config.pug
#preview