form#modes
    fieldset
        legend Modes
        label
            span Path
            input(type="radio" name="modes" value="path" checked)
        label
            span Rectangle
            input(type="radio" name="modes" value="rect")
        label
            span Ellipse
            input(type="radio" name="modes" value="ellipse")