form#project-management
    fieldset
        legend Project Management
        button#start-new-drawing-btn(title="Start a new project") New
        button#load-drawing-btn(title="Load a project") Load
        button#delete-drawing-btn(title="Delete a project") Delete
