fieldset#viewbox-config
    legend viewBox
    label
        span min-x
        input(type="number" name="min-x" value="0" step="2")
    label
        span min-y
        input(type="number" name="min-y" value="0" step="2")
    label
        span width
        input(type="number" name="width" min="1" step="2")
    label
        span height
        input(type="number" name="height" min="1" step="2")