doctype html
html
  head
    title SVG Builder
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/index.js" type="module" defer)

  body
    h1 SVG Builder

    #main
      fieldset#layer-management
        legend Layers
        #layer-select
        
        #layer-controls
          button#add-layer Add layer
          button#del-layer Delete active layer
          button#clear-all Clear all layers
          button#undo Delete last point

      #canvas
        fieldset#dims
          legend Dimensions
          label Width:
            input#width(type="number" min=1 value=640)
          label Height:
            input#height(type="number" min=1 value=360)

        fieldset#modes
          legend Modes
          label Rectangle
            input(type="radio" name="modes" value="rect" checked)
          label Ellipse, circle or arc
            input(type="radio" name="modes" value="arc")
          label Path
            input(type="radio" name="modes" value="path")

        svg#outer-container(width="640" height="360")
          g#inner-container
          path#overlay(fill="transparent")

        #coords

        #commands
          label Move to (M)
            input(type="radio" name="command" value="M" checked)
          label Line to (L)
            input(type="radio" name="command" value="L")
          label Quadratic curve to (Q)
            input(type="radio" name="command" value="Q")
          label Cubic curve to (C)
            input(type="radio" name="command" value="C")
        
    #config
      fieldset#fill-and-stroke
        legend Fill &amp; Stroke
        label Stroke-color:
          input#stroke-color(type="color" name="strokeColor")
        label Stroke-opacity:
          input#stroke-opacity(type="number" min=0 max=1 step=0.1 value=1 title="Opacity" name="strokeOpacity")
        label Stroke-width:
          input#stroke-width(type="number" min=0.1 max=10 step=0.1 value=2 name="strokeWidth")
        label Fill-color:
          input#fill-color(type="color" name="fillColor")
        label Fill-opacity:
          input#fill-opacity(type="number" min=0 max=1 step=0.1 value=1 title="Opacity" name="fillOpacity")
        label Fill-rule:
          select#fill-rule(name="fillRule")
            option evenodd
            option nonzero
        label Fill shape
          input#fill-toggle(type="checkbox" name="fill")
        label Close shape
          input#close-toggle(type="checkbox" name="close" checked)

      fieldset#transformations
        legend Transformations
        label Scale by factor of
          input#scaling-factor(type="number" min=0.2 max=4.0 step=0.1 value=1)
        label Rotate by (deg)
          input#deg(type="number" min=-360 max=360 step=0.1 value=0)
        label Reflect shape
          select#reflect
            option 
            option Vertically
            option Horizontally
        label Trim whitespace
          input#trim-check(type="checkbox")
        button#transform Transform
        
    #output
  
