doctype html
html
  head
    meta(charset="UTF-8")
    title SVG Builder
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/index.js" type="module" defer)

  body
    h1 SVG Builder

    #main
      fieldset#layer-management
        legend Layers

        #no-layer-msg No layer, yet...
        
        #layer-select          
        
        #layer-controls
          button#add-layer Add layer
          button#del-layer Delete active layer
          button#clear-all Delete all layers
          button#undo Delete last point

      #canvas
        fieldset#dims
          legend Dimensions
          label 
            span Width:
            input#width(type="number" min=1 value=640)
          label 
            span Height:
            input#height(type="number" min=1 value=360)

        fieldset#modes
          legend Modes
          label 
            span Path
            input(type="radio" name="modes" value="path" checked)
          label 
            span Rectangle
            input(type="radio" name="modes" value="rect")
          label 
            span Circle or ellipse
            input(type="radio" name="modes" value="ellipse")

        svg#outer-container(width="640" height="360")
          g#inner-container
          path#overlay(fill="transparent")

        #coords

        #commands
          label 
            span Move to (M)
            input(type="radio" name="command" value="M" checked)
          label 
            span Line to (L)
            input(type="radio" name="command" value="L")
          label 
            span Horizontal line to (H)
            input(type="radio" name="command" value="H")
          label 
            span Vertical line to (V)
            input(type="radio" name="command" value="V")
          label 
            span Quadratic curve to (Q)
            input(type="radio" name="command" value="Q")
          label 
            span Cubic curve to (C)
            input(type="radio" name="command" value="C")
          label 
            span Arc (A)
            input(type="radio" name="command" value="A")
          
        
    #config
      fieldset#fill-and-stroke
        legend Fill &amp; Stroke
        label 
          span Stroke-color:
          input#stroke-color(type="color" name="strokeColor")
        label 
          span Stroke-opacity:
          input#stroke-opacity(type="number" min=0 max=1 step=0.1 value=1 title="Opacity" name="strokeOpacity")
        label 
          span Stroke-width:
          input#stroke-width(type="number" min=0.1 max=10 step=0.1 value=2 name="strokeWidth")
        label 
          span Fill-color:
          input#fill-color(type="color" name="fillColor")
        label 
          span Fill-opacity:
          input#fill-opacity(type="number" min=0 max=1 step=0.1 value=1 title="Opacity" name="fillOpacity")
        label 
          span Fill-rule:
          select#fill-rule(name="fillRule")
            option evenodd
            option nonzero
        label 
          span Fill shape
          input#fill-toggle(type="checkbox" name="fill")
        label 
          span Close shape
          input#close-toggle(type="checkbox" name="close" checked)

      fieldset#transformations
        legend Transformations
        label 
          span Scale by factor of
          input#scaling-factor(type="number" min=0.2 max=4.0 step=0.1 value=1)
        label 
          span Rotate by (deg)
          input#deg(type="number" min=-360 max=360 step=0.1 value=0)
        label 
          span Reflect shape
          select#reflect
            option 
            option Vertically
            option Horizontally
        label 
          span Trim whitespace
          input#trim-check(type="checkbox")
        button#transform Transform
        
    #output
  
