#active-layer-config {

    fieldset:not(:last-child) {
        margin-bottom: 0;
    }

    .for-path,
    .for-rect {
        flex-direction: column;
    }
}

.path-cmd-config {
    position: relative;

    // the first point of a path shouldnt be deleted
    &:nth-of-type(1) {
        .path-cmd-config__delete-point-btn {
            display: none;
        }
    }
}

.path-cmd-config__delete-point-btn {
    background-color: var(--main-bg-color);
    color: var(--main-heading-color);
    position: absolute;
    top: -24px;
    right: 0;
    width: 40px;
}