body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    overflow: hidden;

    .for-path,
    .for-rect,
    .for-ellipse {
        display: none;
    }

    &[data-mode="path"] {
        .for-path {
            display: flex;
        }
    }

    &[data-mode="rect"] {
        .for-rect {
            display: flex;
        }

        #active-layer-config .for-rect {
            flex-direction: column;
        }
    }

    &[data-mode="ellipse"] {
        .for-ellipse {
            display: flex;
            flex-direction: column;
        }
    }
}