button {
    cursor: pointer;
    padding: 0;
    margin: 1px;
    border-width: 1px;
    width: 100%;

    &:first-of-type {
        margin-top: 0.5rem;
    }

    a {
        color: var(--sub-text-color);
    }
}