#center-content {
    grid-area: center;
    display: flex;
    flex-direction: column;
}

#center-top {
    height: 66px;
    display: flex;
    gap: 4px;

    label {
        display: inline;
    }

    fieldset {
        height: 100%;
        ;
        display: flex;
        align-items: center;
        gap: 8px;

        [data-mode="rect"] &.for-path,
        [data-mode="ellipse"] &.for-path {
            display: none;
        }
    }
}

#time-travel fieldset {
    display: flex;
}

#commands {
    margin-left: 8px;
}

#preview {
    grid-area: center;

    svg {
        background: var(--sub-bg-color);
        margin: 8px;
    }
}