fieldset {
    border: 1px solid var(--main-text-color);
    box-shadow: 2px 3px 3px var(--sub-text-color), inset 3px 4px 4px var(--sub-highlight-color);
    background: linear-gradient(135deg, var(--main-bg-color), 95%, var(--sub-highlight-color));

    fieldset {
        background: var(--main-bg-color);
        box-shadow: none;

        +fieldset {
            margin-top: 0.5rem;
        }
    }
}

fieldset.togglable {
    margin-top: 6px;
    overflow: hidden;
    transition: all .3s ease;

    >legend {
        position: relative;
        cursor: pointer;
        width: 100%;

        &::after {
            position: absolute;
            right: 0;
            content: '▼';
            width: 16px;
            height: 16px;
            display: inline-block;
            transition: transform 0.3s;
        }
    }

    &.closed {
        height: 28px;

        *:not(legend) {
            animation-name: fade;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }

    &.open>legend::after {
        transform: rotate(180deg);
    }
}

legend {
    color: var(--main-heading-color);
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}