header {
    background: var(--tab-links-bg-color);
    border-bottom: var(--tab-border);
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;

    >* {
        height: var(--tab-links-height);
    }
}

#drawing-title {
    font-size: 1.3rem;
    padding-right: 8px;
    line-height: var(--tab-links-height);
}

#tab-links {
    background: var(--tab-links-bg-color);
}

.tab-link {
    display: inline-block;
    color: var(--sub-bg-color);
    border-right: var(--tab-border);
    height: var(--tab-links-height);
    padding: 4px 8px;
    cursor: pointer;

    &.active {
        background: var(--main-bg-color);
        font-weight: bold;
        // TODO find better way to hide container border on active tab
        border-bottom: 20px solid var(--main-bg-color);
    }
}

.tab-content {
    position: absolute;
    top: var(--tab-links-total-height);
    opacity: 0;
    overflow: hidden;
    height: calc(100% - var(--tab-links-total-height));
    width: 100%;
    display: grid;
    grid-template-columns: 12rem auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "leftSidebar center"
        ". center"
    ;

    &.active {
        z-index: 1;
        opacity: 1;
    }
}