html {
    height: 100%;
    --main-text-color: rgb(182, 182, 182);
    --main-heading-color: whitesmoke;
    --main-bg-color: rgb(40, 40, 40);
    --main-highlight-color: orange;
    --main-alert-color: red;
    --sub-text-color: black;
    --sub-bg-color: lightgrey;
    --sub-highlight-color: rgb(80, 80, 80);
    --border-radius: 2px;
}