#left-sidebar {
    grid-area: leftSidebar;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 4px;
    // TODO add visible padding to bottom (padding-bottom doesnt really work!)
    overflow-y: auto;
}

#layer-management {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

#layer-select {
    label {
        flex-wrap: initial;
        cursor: grab;
    }
}

#layer-select,
#layer-controls {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#transforms:not(.open) {
    // for some reason, this element doesnt leave enough space when closed
    margin-bottom: 6px;
}

#output-configuration {
    grid-area: leftSidebar;
    margin: 0 4px;

    >fieldset {
        display: flex;
        flex-direction: column;
    }
}