select, input[type=number] {
    padding: 4px;
    border-radius: var(--border-radius);
    border: 0;
}

label {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2px;
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

.for-path,
.for-rect {
    display: none;
}

#output-configuration {
    grid-area: leftSidebar;

    > fieldset {
        display: inline-flex;
        flex-direction: column;
    }
}

#preview {
    margin-top: 3rem;
    grid-area: center;

    svg {
        background: var(--sub-bg-color);
        margin: 8px;
    }
}

#left-sidebar {
    grid-area: leftSidebar;
    display: flex;
    flex-direction: column;
    margin-right: 4px;
}

#layer-management {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#layer-select {
    margin-bottom: 10px;

    label {
        flex-wrap: initial;
        cursor: grab;
    }
}

#layer-select,
#layer-controls {
    display: inline-flex;
    flex-direction: column;
}

#fill-and-stroke {
    margin-top: 6px;
}

#center-content {
    grid-area: center;
    display: flex;
    flex-direction: column;
}

#center-top {
    display: flex;

    label {
        display: inline;
        margin-right: 8px;
    }

    fieldset {
        min-height: 66px;
        display: flex;
        align-items: center;

        [data-mode="rect"] &.for-path,
        [data-mode="ellipse"] &.for-path {
            display: none;
        }
    }
}

#time-travel fieldset {
    display: flex;
}

#commands {
    margin-left: 8px;
}

line {
    stroke-dasharray: 4 3;
    stroke: #000;
    stroke-opacity: 0.8;
}