select,
input[type=number] {
    padding: 4px;
    border-radius: var(--border-radius);
    border: 0;
}

label {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2px;
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}