body {
    font-family: Helvetica, Arial, sans-serif;
    background: rgb(40, 40, 40);
    color: rgb(150, 150, 140);
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    overflow-x: hidden;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
}

#output {
    display: inline-flex;
    width: max-content;
}

#dims,
#modes {
    display: inline;
}

#a-cmd-config {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
}

#main {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "layers canvas"
        "config canvas";
}

#layer-management {
    grid-area: layers;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #layer-select {
        padding-bottom: 1rem;

        label {
            display: flex;
            justify-content: space-between;
        }
    }

    #layer-select,
    #add,
    #layer-controls {
        display: inline-flex;
        flex-direction: column;
    }
}

#mode-config {
    display: flex;
    margin-left: 4px;
}

#dims,
#modes,
#a-cmd-config,
#output {
    label {
        display: inline-block;
        margin-right: 8px;
        vertical-align: middle;

        span {
            margin-right: 4px;
        }
    }
}

#commands {
    align-self: center;
}

#canvas {
    grid-area: canvas;
    margin-right: 8px;
}

#outer-container {
    background: lightgrey;
    min-width: 720px;
    min-height: 405px;
    border: 2px solid white;
    outline: 3px solid grey;
    margin: 8px 0 0 8px;
    stroke-width: 2;
    stroke: black;
    display: block;
}

#coords {
    position: absolute;
    left: -100px;
    top: -100px;
    padding: 3px 6px;
    border: 1px solid black;
    width: max-content;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    text-align: center;
    pointer-events: none;
}

#config {
    grid-area: config;
    display: inline-flex;
    flex-direction: column;
    margin-right: 2px;
}

#fill-and-stroke,
#transformations,
#transforms {
    label {
        margin: 4px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

#overlay {
    filter: invert(10%) hue-rotate(90deg);
}

.control-point {
    fill: orange;
    stroke: dimgrey;

    &:hover {
        stroke-width: 10;
    }

    &:last-of-type {
        fill: red;
    }
}

select {
    width: max-content;
}

input {
    &[type=number] {
        width: 5em;
        text-align: center;
    }

    &[type=number] {
        width: 5em;
        text-align: center;
    }

    &[type=range] {
        margin: 0;
    }

    &:checked {
        box-shadow: 0 0 0 2px orange;
    }
}

fieldset.togglable {
    margin: 0.4rem 0 0.8rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;

    &.open {
        max-height: 100rem;
    }

    &.closed {
        max-height: 1rem;
        padding-bottom: 0;
    }
}