html {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: rgb(40, 40, 40);
    color: rgb(150, 150, 140);
    margin: 0;
    padding: 2px 2px 0;
    height: 100%;
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    &[data-mode="rect"],
    &[data-mode="ellipse"] {
        .path-only {
            display: none !important; // TODO: turn this around so as to not have flashes on start
        }
    }
}

.tab-content {
    position: absolute;
    visibility: hidden;
    height: 99%;
    width: 99%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content max-content auto;
    grid-template-areas:
        "tabs tabs"
        "leftSidebar center"
        ". center"
    ;

    &:target {
        visibility: visible;
    }
}

#tabs {
    position: absolute;
    right: 2rem;
    z-index: 1;
    grid-area: tabs;

    a {
        color: whitesmoke;
        text-decoration: none;

        &:visited {
            color: whitesmoke;
        }
    }
}

.tab {
    padding: 4px 8px;
    margin-right: 8px;

    &.active {
        background: slategrey;
        color: whitesmoke;
    }
}

#output-configuration {
    grid-area: leftSidebar;
}

#preview {
    grid-area: center;
    background: lightgrey;
    width: min-content;
}

#left-sidebar {
    grid-area: leftSidebar;
    display: flex;
    flex-direction: column;
    margin-right: 4px;
    width: 12rem;
}

#layer-management {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#layer-select {
    padding-bottom: 1rem;

    label {
        display: flex;
        justify-content: space-between;
    }
}

#layer-select,
#layer-controls {
    display: inline-flex;
    flex-direction: column;
}

#dims,
#output-configuration,
#fill-and-stroke,
#transforms,
#arc-cmd-config {
    label {
        margin: 4px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

#center-content {
    grid-area: center;
    display: flex;
    flex-direction: column;
}

#center-top,
#modes {
    display: flex;
}

#modes {
    label {
        margin: 0 4px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


#commands {
    height: min-content;
    align-self: center;
    margin-left: 8px;
}

#canvas {
    background: lightgrey;
    width: 100%;
    min-width: 720px;
    min-height: 405px;
    border: 2px solid white;
    outline: 3px solid grey;
    margin-top: 8px;
    margin-left: 5px;
    stroke-width: 2;
    stroke: black;
    height: 100%;
}

#coords {
    position: absolute;
    left: -100px;
    top: -100px;
    padding: 3px 6px;
    border: 1px solid black;
    width: max-content;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    text-align: center;
    pointer-events: none;
}

.control-point {
    fill: orange;
    stroke: dimgrey;

    &:hover {
        stroke-width: 10;
    }

    &:last-of-type {
        fill: red;
    }
}

select {
    width: max-content;
}

input {
    &[type=number] {
        width: 5em;
        border: 0;
        padding-right: 0;
        text-align: center;
    }

    &[type=range] {
        -webkit-appearance: none;
        height: 5px;
        width: 100%;
        border-radius: 5px;
        margin: 6px 0 4px;
    }

    &:checked {
        box-shadow: 0 0 0 2px orange;
    }
}

fieldset {
    border-color: dimgrey;
}

button {
    padding: 0;
    margin: 0;
    border: width 1px;
    width: 100%;
}

fieldset.togglable {
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;

    &.open {
        max-height: 100rem;
    }

    &.closed {
        max-height: 1rem;
        padding-bottom: 0;
    }
}