#tab-links {
    margin-bottom: 8px;
    height: var(--tab-links-height);
    background: var(--tab-links-bg-color);
    border-bottom: var(--tab-border);
}

.tab-link {
    display: inline-block;
    color: var(--sub-bg-color);
    background: var(--sub-highlight-color);
    border-right: var(--tab-border);
    border-bottom: var(--tab-border);
    height: var(--tab-links-height);
    padding: 4px 8px;
    cursor: pointer;

    &.active {
        background: var(--main-bg-color);
        border-bottom: 0;
    }
}

.tab-content {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    height: calc(100% - var(--tab-links-height));
    width: 100%;
    display: grid;
    grid-template-columns: 12rem auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "leftSidebar center"
        ". center"
    ;

    &.active {
        z-index: 1;
        opacity: 1;
    }
}