.tab-content {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    height: 99%;
    width: 99%;
    display: grid;
    grid-template-columns: 12rem auto;
    grid-template-rows: max-content auto;
    grid-template-areas:
        "leftSidebar center"
        ". center"
    ;

    &:target {
        overflow: visible;
        z-index: 1;
        opacity: 1;
    }
}

.tab {
    padding: 4px 8px;
    margin-right: 8px;
}

#tabs {
    position: absolute;
    right: 2rem;
    z-index: 2;
    color: var(--main-heading-color);

    a {
        color: inherit;

        &.active {
            background: var(--sub-bg-color);
            color: var(--main-bg-color)
        }
    }
}