#tab-links {
    margin-bottom: 8px;
    color: var(--main-heading-color);
    height: var(--tab-links-height);
}

.tab-link {
    padding: 4px 8px;
    margin-right: 8px;
    color: inherit;
    cursor: pointer;

    &.active {
        background: var(--sub-bg-color);
        color: var(--main-bg-color)
    }
}

.tab-content {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    height: calc(100% - var(--tab-links-height));
    width: 100%;
    display: grid;
    grid-template-columns: 12rem auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "leftSidebar center"
        ". center"
    ;

    &.active {
        z-index: 1;
        opacity: 1;
    }
}