:root {
    --main-text-color: rgb(182, 182, 182);
    --main-heading-color: whitesmoke;
    --main-bg-color: rgb(40, 40, 40);
    --tab-links-bg-color: rgb(50, 50, 50);
    --main-highlight-color: orange;
    --main-alert-color: red;
    --sub-text-color: black;
    --sub-bg-color: lightgrey;
    --sub-highlight-color: rgb(80, 80, 80);
    --border-radius: 2px;
    --bg-grid-size: 40px;
    --tab-links-height: 27px;
    --tab-border: 1px solid rgb(35, 35, 35);
}